/*
---------- Table of Contents ----------
    1. General styles
    2. Navbar styles
    3. Main styles
        3.a) Main-Section styles
        3.b) Main-Footer styles
    4.Footer styles
---------------------------------------
*/



/*----- General styles -----*/

body {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
    font-weight: normal;
    margin: 0;
}



/*----- Navbar styles -----*/

.navbar {

}



/*----- Main styles -----*/

.container {
    width: 1440px;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "main-section     main-section     main-section     main-section"
        "main-section     main-section     main-section     main-section"
        "main-section     main-section     main-section     main-section"
        "main-footer-item main-footer-item main-footer-item main-footer-item";
    grid-gap: 2px;
}

/* Main-Section styles */
.main-section {
    width: 1440px;
    height: 678px;
    background-size: 1440px 678px;
    grid-area: main-section;
    background: url("./assets/imgs/main-background.jpg");
    background-position-y: bottom;
    background-position-x: left;
    background-size: cover;
}

/* Main-Footer styles */
.main-footer-item {
    width: 358.5px;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.main-footer-item img {
    width: 364px;
    height: 200px;
}



/*----- Footer styles -----*/

.footer {

}